@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'DM-sans';
        font-weight: 400;
        font-style: normal;
        src: url('./fonts/DMSans-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'DM-sans';
        font-weight: 400;
        font-style: italic;
        src: url('./fonts/DMSans-Italic.ttf') format('truetype');
    }
    @font-face {
        font-family: 'DM-sans';
        font-weight: 500;
        font-style: normal;
        src: url('./fonts/DMSans-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'DM-sans';
        font-weight: 500;
        font-style: italic;
        src: url('./fonts/DMSans-MediumItalic.ttf') format('truetype');
    }
    @font-face {
        font-family: 'DM-sans';
        font-weight: 700;
        font-style: normal;
        src: url('./fonts/DMSans-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'DM-sans';
        font-weight: 700;
        font-style: italic;
        src: url('./fonts/DMSans-BoldItalic.ttf') format('truetype');
    }
}

@layer base {
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {

    }
    h3 {
        @apply text-4xl
    }
}

@layer utilities { 
    .icon {
        @apply inline-block align-bottom;
    }
    .ic-close::before,
    .ic-close::after {
        position: absolute;
        content: '';
        height: 33px;
        width: 3px;
        background-color: #555854;
    }
    .ic-close:before {
        transform: rotate(45deg);
    }
    
    .ic-close:after {
        transform: rotate(-45deg);
    }
    .text--success {
        @apply text-green-high font-bold
    }
    .text--warn {
        @apply text-red-high font-bold
    }
}

@layer components {
    .button--primary {
        @apply bg-green-med shadow-lg transition-colors rounded duration-200 ease-in-out focus:outline-green-high focus:outline-none outline-1 focus:bg-green-med hover:bg-green-low uppercase;
    }
    .button--secondary {
        @apply bg-gray-low shadow-lg transition-colors rounded duration-200 ease-in-out focus:outline-gray-high focus:outline-none outline-1 focus:bg-gray-med hover:bg-gray-med uppercase;
    }
    
    .button--warn {
        @apply bg-red-med shadow-lg transition-colors rounded duration-200 ease-in-out focus:outline-red-high focus:outline-none outline-1 focus:bg-red-med hover:bg-red-low uppercase;
    }

    .button--robi {
        @apply bg-blue-low border-2 border-blue-high transition-colors rounded duration-200 ease-in-out focus:outline-blue-high focus:outline-none outline-1 focus:bg-blue-med hover:bg-blue-med uppercase;
    }
    .meron--radio {
        background: linear-gradient(180deg, #0CCC42 0%, #099932 100%);
        box-shadow: inset 0px -4.55556px 4.55556px #09922F, inset 0px 4.55556px 4.55556px #0DD344; 
        @apply w-full min-w-[135px] py-8 p-2 text-3xl text-center font-bold block select-none;
    }
    input[type="radio"]:checked + .meron--radio {
        background: #7FCB94;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .wala--radio {
        background: linear-gradient(180deg, #FF0025 0%, #D6001C 100%);
        box-shadow: inset 0px -4.55556px 4.55556px #CC001A, inset 0px 4.55556px 4.55556px #FF0026;
        @apply w-full min-w-[135px] py-8 p-2 text-3xl text-center font-bold block select-none;
    }
    input[type="radio"]:checked + .wala--radio {
        background: #FF4863;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

html,
body, 
* {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    @apply font-dmSans text-white;
}

html {
    height: -webkit-fill-available;
}

body {
    @apply bg-black-low;
    min-height: -webkit-fill-available;
}

.close__button {
    @apply absolute right-0 hover:brightness-150 cursor-pointer w-8 lg:w-0 h-8;
}

.fight__label,
.fight-status {
    @apply flex flex-col lg:justify-start items-center justify-between;
}

.total-bets {
    @apply select-none font-bold text-yellow-300 text-4xl;
}

.winning-chance {
    @apply text-gray-200 select-none;
}
